<div class="container-fluid col-xl-12 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-3">
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light">
          <h1 class="h3 mb-3 fw-normal">Sign up</h1>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" placeholder="Email" ng-model="email" />
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" placeholder="Password" ng-model="password" />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" ng-model="remember"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="button" ng-click="$ctrl.onClick()">Sign up</button>
        <div class="mt-2 mb-2 page-header">
          <div class="float-sm-start"><a href="#!register" class="text-secondary">Register</a></div>
          <div class="float-sm-end"><a href="#!/forgot" class="text-secondary">Forgot Password</a></div>
          <div class="clearfix"></div>
        </div>          
        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
      </form>
    </div>
  </div>
</div>